body{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto', sans-serif;
}



.header-top,.hero-area{
    background:#FFFBF0;
    position: relative;
    padding-bottom: 30px;
}
.header-top::before{

}