body{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto', sans-serif;
    
}
.roboto{
    font-family: 'Roboto';
}

.title{
    font-family: 'Roboto';
    font-weight: 900;
    margin: 15px 0px;
    font-size: 28px;
}
.title-size{
    font-size: 28px;
    margin: 0px;
}
.title__color{
    color:#FABE4C;
}
.product-bg-rounded{
    border-radius: 40px;
    background-color: #F1F1F1;
}
.card-rounded{
    border-radius: 20px;
}

.header-top,.hero-area{
    background:#FFFBF0;
    position: relative;
    padding-bottom: 30px;
}
.header-top::before{
    content: "";
    background-image: url(icons/vactor.png);
    position: absolute;
    width: 120px;
    height: 116px;
    top: -36px;
    left: calc(50% - 120px);
    z-index: 22;
    background-size: contain;
}

.btn-buy{
    background-image: linear-gradient(#A4BC46,#85A019);
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    color:#fff
}
.hero__title{
    color:#FABE4C;
    font-family: 'Bebas Neue';
    font-size: 80px;
}
.hero__title span{
    color:#3c3c3c;
}

.jacket__title{
    font-size: 50px;
    font-family: 'Bebas Neue';
}